.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);

}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  width: 90%;
}

.close-btn {
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  top:1%; 
  right:2%;
  position: absolute;
  
}

.close-btn:hover {
  color: #333;
}

.btn-show-activities {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.btn-show-activities:hover {
  background-color: #0056b3;
}

h2 {
  margin-top: 0;
}

hr {
  border: 0;
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
}
