<section class="h-100">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <!-- Left column for register -->
      <div class="col-lg-6 p-0 h-100 d-flex align-items-center justify-content-center">
        <div class="card rounded-3 text-black">
          <div class="card-body p-md-5 mx-md-4">
            <div class="text-center">
              <h4 class="mt-1 mb-5 pb-1">Register as a Dog Owner</h4>
            </div>
            <form #registerForm="ngForm" (ngSubmit)="save(registerForm)">
              <div class="form-outline mb-4">
                <input type="text" [(ngModel)]="name" name="name" required class="form-control" id="name" placeholder="Enter name">
                <label class="form-label" for="name">Name</label>
              </div>
              <div class="form-outline mb-4">
                <input type="email" [(ngModel)]="email" name="email" required class="form-control" id="email" placeholder="Enter email">
                <label class="form-label" for="email">Email</label>
              </div>
              <div class="form-outline mb-4">
                <input type="password" [(ngModel)]="password" name="password" required class="form-control" id="password" placeholder="Enter password">
                <label class="form-label" for="password">Password</label>
              </div>
              <button type="submit" class="btn btn-primary btn-block" [disabled]="!registerForm.valid">Register</button>
            </form>
          </div>
        </div>
      </div>
      <!-- Right column for gradient -->
      <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
        <div class="text-white px-3 py-4 p-md-5 mx-md-4">
          <h4 class="mb-4">Welcome to our DogCare page!</h4>
          <p class="small mb-0">Are you a dog parent? We’re here to help you keep your pup happy and healthy. Read more for a wide range of dog health and behavior tips that will help you provide the best possible care for your canine companion.</p>
        </div>
      </div>
    </div>
  </div>
</section>
