<section class="gradient-form d-flex" >
  <div class="container align-self-center">
    <div class="row">
      <div class="col-md-6">
        <div class="card text-black">
          <div class="card-body mx-md-4">
            <div class="text-center">
              <img src="" style="width: 400px;" alt="logo">
              <h4 class="mt-1 mb-5 pb-1">Dog Owner Login</h4>
            </div>
            <form>
              <div class="form-outline mb-4">
                <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" id="email" placeholder="Enter Email">
                <label class="form-label" for="email">Email</label>
              </div>
              <div class="form-outline mb-4">
                <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" class="form-control" id="password" placeholder="Enter Password">
                <label class="form-label" for="password">Password</label>
              </div>
              <div class="text-center pt-1 mb-5 pb-1">
                <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button" (click)="Login()">Log in</button>
              </div>
              <div class="d-flex align-items-center justify-content-center pb-4">
                <p class="mb-0 me-2">Don't have an account?</p>
                <button type="button" class="btn btn-outline-danger" (click)="navigateToRegister()">Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-center gradient-custom-2">
        <div class="text-white px-3 py-4 p-md-5 mx-md-4">
          <h4 class="mb-4" >Welcome to our DogCare page!</h4>
          <p class="small mb-0"> Log in to access personalized insights and recommendations for your furry friends. Discover tailored advice based on your dogs' unique characteristics and keep track of their health and well-being effortlessly.</p>
        </div>
      </div>
    </div>
  </div>
</section>
