<div class="container mt-5">
    <h1 class="page-title"><u><b>Welcome to DogCare</b></u></h1>
    <button type="button" class="btn btn-primary" (click)="addDogForm.openModal()">Add Dog</button>
    <app-add-dog-form #addDogForm (dogAdded)="handleDogAdded($event)"></app-add-dog-form>
    <button type="button" class="btn btn-info" (click)="openAddActivityModal()">Add Activity</button>
    <app-add-activity [show]="showAddActivity"></app-add-activity>
    <button type="button" class="btn btn-primary" (click)="plannedActivitiesButton.showPlannedActivities()">Show Planned Activities</button>
    <app-planned-activities-button></app-planned-activities-button>


    <div class="dog-list mt-4">
      <h2>Your Dogs</h2>
      <div *ngIf="dogs.length > 0; else noDogs">
        <div class="row">
          <div *ngFor="let dog of dogs" class="col-lg-4 mb-4" (click)="selectDog(dog)">
            <div class="card dog-card h-100">
              <img [src]="dog.imageURL" class="card-img-top" alt="{{ dog.name }}">
              <div class="card-body">
                <h5 class="card-title">{{ dog.name }}</h5>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Dog Details Modal -->
        <app-dog-details 
          [dog]="selectedDog" 
          *ngIf="selectedDog" 
          (close)="selectedDog = null"
          (edit)="onEditDog($event)"
          (delete)="onDeleteDog($event)">
      </app-dog-details>
      </div>
      <ng-template #noDogs>
        <p class="text-center mt-4">No dogs found for this user.</p>
      </ng-template>
    </div>
  </div>
  