.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .page-title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .add-dog-btn {
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px; /* Rounded corners */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Shadow for depth */
  }
  
  .add-dog-btn:hover {
    background-color: #45a049; /* Darker shade of green */
  }
  
  
  .dog-list h2 {
    color: #555;
    margin-bottom: 20px;
  }
  
  .dog-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  .card-img-top {
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card-body {
    text-align: center;
  }
  
  .card-title {
    color: #333;
    margin-bottom: 10px;
  }
  
  .card-text {
    color: #666;
    margin-bottom: 5px;
  }
  
  .card-text strong {
    color: #333;
  }
  
  .text-center {
    text-align: center;
  }
  